<!-- dashboard.component.html -->

<div class="bg-white text-black p-4">
    <div class="flex border p-2 items-center">
        <a mat-button routerLink="/dashboard/viewalltickets">Dashboard</a>
        <a mat-button routerLink="/dashboard/addticket">Add Ticket</a>
        <div class="ml-auto" *ngIf="isViewAllTicketsActive()">
            <mat-form-field appearance="fill">
                <mat-label>Filter by:</mat-label>
                <mat-select (selectionChange)="applyFilter($event)">
                    <mat-option value="Work">Work</mat-option>
                    <mat-option value="Personal">Personal</mat-option>
                    <mat-option value="Shopping">Shopping</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="p-4">
    <router-outlet></router-outlet>
</div>